@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  --scroll-size: 2px;
  --scroll-radius: 10px;
  --scroll-track: rgb(255 255 255 / 10%);
  --scroll-thumb-color: #787bc7;
}

html main * {
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dark {
  --scroll-thumb-color: #28d07e;
}
::-webkit-scrollbar {
  width: var(--scroll-size, 10px);
  height: var(--scroll-size, 10px);
}
::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}
svg.inherit path {
  fill: inherit;
}
.blur-on {
  filter: blur(3px);
}

.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 32px;
  height: 16px;
  background: rgb(173, 173, 173);
  display: block;
  border-radius: 100px;
  position: relative;
}
.switch.active {
  background-color: #34c759;
}

.switch::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  background: rgb(255, 255, 255);
  border-radius: 90px;
  transition: all 0.2s ease-in-out 0s;
}

.switch.active::after {
  left: calc(55% - 0px);
}

@keyframes header-slide {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate #home_header.flex,
.animate #home_header_dark.dark\:flex {
  animation: header-slide 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes scale-up-ver-top {
  0% {
    opacity: 0;
    transform: scaleY(0.4);
    transform-origin: 100% 0;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 100% 0;
  }
}

#lang-nav {
  animation: scale-up-ver-top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

body a,
body button {
  transition: transform 0.3s ease;
}

body a:active,
body button:active {
  transform: scale(0.8);
}

body, body * {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
  padding 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
  color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
  background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


body header {
  transition: none;
}

.notification-backdrop {
  animation: fade-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes notification-backdrop {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.notification-popup {
  margin-bottom: -30px;
  animation-delay: 5s;
  animation: notification-popup 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes notification-popup {
  0% {
    
  margin-bottom: -50px;
  }
  100% {
margin-bottom: 0px;
  }
}
